.resume {
  padding: 3rem;
}

.resumeText-wrapper {
  border: tomato solid 5px;
  background: wheat;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: black 2px 2px 2px;
}

.contact-head {
  padding: 1rem 0rem;
}

.bio-summary {
  text-align: left;
}

.techProjects-head {
  text-align: left;
  padding: 0.5em;
  background-color: lightgray;
}

.techProject-text {
  text-align: left;
}

.techProject-text ul {
  padding-left: 1rem;
}

.techSkill-text {
  text-align: left;
}

@media only screen and (max-width: 576px) {
  .resume {
    padding: 1rem;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .resumeText-wrapper {
    font-size: x-large;
  }
}

@media only screen and (min-width: 2560px) {
  .resume h1 {
    font-size: 5rem;
  }

  .resume h6 {
    font-size: 2rem;
  }

  .techProject-text ul {
    padding-left: 1.5rem;
  }
}
