.about-text-wrapper {
  border: tomato solid 5px;
  background: wheat;
  border-radius: 10px;
  padding: 0.5em;
  box-shadow: black 2px 2px 2px;
  text-align: left;
}

.about {
  padding: 3rem;
}

.about-text-wrapper p {
  width: 80%;
  text-indent: 2rem;
}

.img {
  float: right;
  border: rgb(12, 143, 224) solid 5px;
  box-shadow: black 2px 2px 2px;
}

.about-text-wrapper h1 {
  text-shadow: 1px 1px gray;
}

@media only screen and (max-width: 1024px) and (min-width: 576px) {
  .about-text-wrapper {
    font-size: large;
  }

  .about-text-wrapper p {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .about-text-wrapper p {
    width: 100%;
  }

  .about {
    padding: 1rem;
  }

  .img-wrapper img {
    width: 100%;
    margin-bottom: 1em;
  }
}
