.about-text-wrapper {
  border: tomato solid 5px;
  background: wheat;
  border-radius: 10px;
  padding: 0.5em;
  box-shadow: black 2px 2px 2px;
  font-weight: 50;
  text-align: left;
}

.about {
    padding: 3rem;
}

.about-text-wrapper p {
    width: 70%;
  text-indent: 2rem;
}

.img { 
    float: right;
    border: rgb(12, 143, 224) solid 5px;
    box-shadow: black 2px 2px 2px;
}
