.project-wrapper {
  border: tomato solid 5px;
  background: wheat;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: black 2px 2px 2px;
  margin-top: 1rem;
}

.projects {
  padding: 3rem;
}

.title {
  color: white;
  text-shadow: 2px 2px black;
}

.project-wrapper h1 {
  text-shadow: 1px 1px gray;
}

.project-wrapper .project-text {
  text-align: left;
}

.external-icon {
  padding-left: 0.5em;
  color: black;
}

.github-icon {
  padding-right: 0.5em;
  color: black;
}

.projects-bolds {
  text-align: left;
}

.project-iframe {
  padding: 1.5rem 0;
}

.otherProjects {
  padding: 1rem 0;
}

.otherProjects ul {
  text-align: left;
}

@media only screen and (max-width: 576px) {
  .projects {
    padding: 1rem;
  }

  .project-wrapper iframe {
    width: 100%;
  }

  .otherProjects ul {
    padding-left: 1rem;
  }
}
