.jumbotron {
  background-color: transparent;
}

.titles {
  color: white;
  text-shadow: 2px 2px black;
}

.summary-text {
  width: 50%;
  border: tomato solid 5px;
  background: wheat;
  border-radius: 10px;
  padding: 0.5em;
  box-shadow: black 2px 2px 2px;
  text-align: left;
}

.summary-wrapper {
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  box-shadow: black 2px 2px 2px;
  margin: 1em;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

@media only screen and (max-width: 576px) {
  /*mobile*/
  .summary-text {
    width: auto;
  }

  .summary-wrapper {
    padding: 3rem 1rem;
  }
}

@media only screen and (max-width: 768px) and (min-width: 576px) {
  /*ipad*/
  .summary-text {
    width: 70%;
    font-size: larger;
  }

  .button {
    font-size: larger;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  /*ipad pro*/
  .summary-text {
    width: 70%;
    font-size: x-large;
  }

  .button {
    font-size: x-large;
  }
}
