.jumbotron {
  background-color: transparent;
}

.titles {
  color: white;
  text-shadow: 2px 2px black;
}

.summary-text {
  width: 50%;
  border: tomato solid 5px;
  background: wheat;
  border-radius: 10px;
  padding: 0.5em;
  box-shadow: black 2px 2px 2px;
  font-weight: 50;
  text-align: left;
}

.summary-wrapper {
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  box-shadow: black 2px 2px 2px;
  margin: 1em;
}

.buttons-wrapper {
  display: flex;
  justify-content:center;
  flex-flow: wrap;

}
