.form-wrapper {
  text-align: left;
  width: 55%;
  border: tomato solid 5px;
  background: wheat;
  border-radius: 10px;
  padding: 0.5em;
  box-shadow: black 2px 2px 2px;
  margin-right: 0.5em;
}

.contact {
  padding: 3rem;
  display: flex;
}

.contact-info {
  width: 45%;
  border: tomato solid 5px;
  background: wheat;
  border-radius: 10px;
  padding: 0.5em;
  box-shadow: black 2px 2px 2px;
  text-align: left;
  margin-left: 0.5em;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  width: 10rem;
}

.social-links a {
  text-decoration: none;
  color: initial;
}

.social-icons {
  transform: scale(2);
}

.contact h1 {
  text-shadow: 1px 1px gray;
}

.contact-info-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hey {
  align-self: center;
  max-width: 100%;
  max-height: auto;
}

@media only screen and (min-width: 2560px) {
  .contact h1 {
    font-size: 5rem;
  }

  .contact input {
    font-size: 2rem;
  }

  .contact label {
    font-size: 3rem;
  }

  .contact textarea {
    font-size: 2rem;
  }

  .contact Button {
    font-size: xx-large;
  }

  .contact h5 {
    font-size: 3rem;
  }

  #git {
    margin: 2rem 2rem 2rem 6rem;
  }

  #linkIn {
    margin: 2rem 2rem 2rem 1rem;
  }

  #jet {
    margin: 2rem 0rem 2rem 1rem;
  }

  .hey {
    width: 500px;
  }
}

@media only screen and (max-width: 1024px) {
  .contact {
    flex-direction: column;
  }

  .form-wrapper {
    width: 100%;
    margin-right: unset;
    font-size: x-large;
  }

  .contact-info {
    width: 100%;
    margin-left: unset;
    margin-top: 3rem;
    font-size: x-large;
  }

  .social-icons {
    transform: scale(1.5);
  }
}

@media only screen and (max-width: 576px) {
  .contact {
    padding: 1rem;
  }

  .contact-info-text {
    width: 100%;
  }

  .contact-info p {
    word-break: break-word;
  }

  .hey {
    display: none;
  }

  .social-links {
    display: unset;
  }
}
