.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.container Button {
  float: right;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ffee93;
}

#linkedin-icon {
  color: blue;
}

#github-icon {
  color: black;
}

@media only screen and (max-width: 576px) {
  .container Button {
    float: unset;
  }

  .footer {
    height: fit-content;
  }
}
