.container {
  width: auto;
  max-width: 43rem;
  padding: 0 15px;
}

.container Button {
  float: right;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ffee93;
}

#linkedin-icon {
  color: blue;
}

#github-icon {
  color: black;
}

.empty-container {
  display: block;
  padding: 0px;
  height: 1px;
  width: 100%;
}

@media only screen and (max-width: 576px) {
  .container Button {
    float: unset;
  }
}
@media only screen and (min-width: 2560px) {
  .container {
    max-width: 63rem;
  }

  .container Button {
    font-size: 1.5rem;
  }
}
