.App {
  text-align: center;
  min-height: 100vh;
  background: url(./images/geo.jpg) no-repeat center;
  background-size: cover;
  font-weight: bold;
  position: relative;
}

.content-wrapper {
  padding-bottom: 2.5rem;
}
